window{
    background-color: #89BCC4;
    font: 18px "Minecraft Default";
}

#main_grid{
}

#space {
}


#combo {
    font: 21px "Minecraft Default";
    margin-bottom: 10px;
    border-color: black;
}

#button {
    margin-top: 3px;
    border-color: #917974;
    border-width: 1px;
    border-radius: 30px;
}

#button:hover {
    background-image: image(#bbb8b8);
}

#button_rounded {
    border-width: 1px;
    border-radius: 30px;
}
